/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    width: 700px;
    height: 100%;
    
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.4;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.wrap {
    width: 670px;
    background: url(../img/bg.jpg) no-repeat;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
} 
    a {
        text-decoration: none;   
    }
    i {
        font-size: 1.5em;
    }
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -------------------------- NAVIGATION ------------------------------------ */
 nav.main-nav a {
    position: relative;
    z-index: 99999;
    display: block;
    float:left;
    text-align: center;
    width: 25%;
    height: 50px;
    font-size: 1.35em;
    color: #0D0051;
    padding-top: 17px; 
    margin: 0;

 }
 .onpg span {
    text-decoration: underline;
    color: #FF00FF;
 }



/* -------------------------- WELCOME PAGE ------------------------------------ */



.lotus {
    position: relative;
    display: block;
    padding-top: 10px;
    height: 450px;

  
}
.slogan {
    position: absolute;
    z-index: 1;
    top: 165px;
    left:250px;
    height: 78px;
    width: 175px;
    background-color: #FF00FF;
    background: url(../img/slogan.png);
    text-indent: -99999px;
    overflow: hidden;
}

i.cir-wmn {
  display: block;
  float: left;
  margin-right: 3px;
  width: 27px;
  height: 27px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
}
#mn-pg {
    position: relative;
    float:right;
    margin-right: 110px;
    margin-top: -32px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 22px;
}
#wm-pg {
    position: relative;
    float:left;
    margin-left: 90px;
    margin-top: -32px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 22px;
}
i.cir-mn {
  display: block;
  float: right;
  margin-left: 3px;
  width: 27px;
  height: 27px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -33px -2px;
}

.welcome-txt {
    height: 165px;
    margin-top: 31px;
    padding: 9px 70px 45px;
    border: 1.5px solid #E0E2ED ;
    background-color: #FFFFFF;
}
.welcome-txt h1 {
    color: #241162;
}
.welcome-txt p {
    color: #241162;
}
.main-content {
    margin-top: -5px;
}
/* -------------------------- TABS -------------------------------------------- */
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
    background-color: #FFF;  
    color: #241162;
    font-size: 14px;
    padding: 10px 35px 10px 35px;
    border: 2px solid #241162;
}

/* -------------------------- CANCER PAGES ------------------------------------ */
#left-lotus {   
    position: relative; 
    display: block;
    float: left;
    height:370px;
    width:330px;
    background: url(../img/woman.png) 7px  no-repeat;
}
#right-lotus { 
    position: relative;
    display: block;
    float: right;
    height:370px;
    width:330px;
    background: url(../img/man.png) 2px  no-repeat;
}




#mcancer-type {   
    display: block;
    float: left;
    padding: 65px 0 105px 54px;
    
    line-height: 1.2;
    height:200px;
    width:280px;
}
#fcancer-type {   
    display: block;
    float: right;
    padding: 65px 30px 105px 0;
    line-height: 1.2;
    height:200px;
    width:310px;
}

#c-title {
    font-size: 2em;

}

/* -------------------------- CANCER MAPS ------------------------------------ */
a.dots {
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -37px -28px;
    height: 18px;
    width: 18px;
    display: block;
    font-weight: bold;
}

.dotsname {
    display: none;
    text-align: center;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -66px -1px;
    position: absolute;
    float: left;
    top: 0;
    left: 20px;
    width:146px;
    height: 32px;
    padding: 4px 0 1px 5px;
}
.manmap a:hover .dotsname {
    display: inline-block;
} 
/*.dotsname:before {
    content: "";
    position: absolute;
    right: 100%;
    top 2px;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 14px solid #697989;
    border-bottom: 12px solid transparent;
}*/
#map1 {
    top: 52px;
    right:153px;
    color:#FFFFFF;
}
#map2 {
    top: 143px;
    right:150px;
    color:#FFFFFF;
}
#map3 {
    top: 190px;
    right:160px;
    color:#FFFFFF;
}
#map4 {
    top: 164px;
    right:150px;
    color:#FFFFFF;
}
#map5 {
    top: 229px;
    right:132px;
    color:#FFFFFF;
}
#map6 {
    top: 246px;
    right:146px;
    color:#FFFFFF;
}
#map7 {
    top: 249px;
    right:153px;
    color:#FFFFFF;
}
#map8 {
    top: 213px;
    right:172px;
    color:#FFFFFF;
}
#map9 {
    top: 235px;
    right:153px;
    color:#FFFFFF;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    
    a {
        text-decoration: none;   
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
